################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenCSG/v17
/Backup
/example/Debug
/glew/build/vc7
/win32/Debug
/UpgradeLog.htm
/lib/OpenCSGd.lib
/example/Release
/example/x64/Debug
/example/x64/Release
/win32/Release
/win32/x64
/x64
/lib/OpenCSG.lib
